.projects{
    padding: 2rem;
}

.project-item{
    display: flex;
    flex-wrap: wrap;
}

.project-list{
    flex: 1 1 30%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1{
    padding: 1rem;
}
p{
    padding: 1rem;
}